.selectorPopup{
    height: 570px;
    width: 906px;
    background: linear-gradient(to right, #A1C4FD, #C2E9FB);
    border: 1px solid #949494;
    border-radius: 25px;
    position: fixed;
    z-index: 4;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
.selectorHide{
    display: none;
}
.popupTitle{
    margin: 20px 0px 10px 50px;
    font-size: 2.5rem;
}
.popupSelectorContainer{
    display: flex;
    width: 100%;
    height: 80%;
}
.divLine{
    height: 90%;
    width: 4px;
    margin-left: 10px;
    align-self: center;
    background-color: #616161;
}
.problemSelect{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.problemCon{
    background-color: rgba(196, 196, 196, 0.5);
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 4px 10px 4px;
    padding: 10px;
    border-radius: 10px;
}
.problemCon:hover{
    background-color:  rgba(196, 196, 196, 0.8);
}
.algoSelect{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}

.algoCon{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    margin: 30px 35px;
    background-color: #C4C4C4;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.algoCon:hover{
    background-color: #929191
}
.algoConB{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    margin: 30px 35px;
    background-color: #C4C4C4;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
}
.NotAvaAlgo{
    filter: opacity(50%);
    pointer-events: none;
}
.createBtn{
    position: relative;
    right: 50px;
    background-color: #1967D2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 145px;
    font-size: 1.5rem;
    border-radius: 16px;
}
.disabledBtn{
    filter: grayscale(100%) opacity(50%);
    pointer-events: none;
}
.rightCon{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
}
.imgIcon{
    height: 70px;
    width: 70px;
}
.imgText{
    font-size: 1.1rem;
    margin-top: 10px;
}
.algoSelect::-webkit-scrollbar{
    width: 5px;
}
.algoSelect::-webkit-scrollbar-thumb{
  background: #929191;
  border-radius: 10px;
}
.algoSelect::-webkit-scrollbar-track{
  background: transparent;
}