.addClass {
  position: relative;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  color: #5f6368;
  cursor: pointer;
  outline: 0;
  background: transparent;
  overflow: hidden;
  border-radius: 10px;
  font-family: Poppins;
  width: 590px !important;
  margin-top: 30px !important;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.addClass > svg {
  margin-right: 5px;
}
.addClass::before {
  content: "";
  position: absolute;
  border: 7px dashed #bdc1c6;
  border-radius: 18px;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
}
