.bubbleCon {
  display: flex;
  height: 35vh;
  width: 35vh;
  border: 1px solid rgb(25, 40, 88);
  background-color: cornflowerblue;
  color: black;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  margin-top: 5vh;
  transition-property: transform scale box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.bubbleCon:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px) scale(1.1);
  background-color: rgb(125, 165, 238);
}
.levelInfo {
  height: fit-content;
  width: fit-content;
  margin: auto;
  font-size: 2.5rem;
}
img{
  height: 150px;
  width: 150px;
}
